.top-container {
    background-color: #85CDFD;
    position: relative;
    padding-top: 100px;
}
body{
   margin: 0; 
   text-align: center;
   font-family: 'Shadows Into Light', cursive; 
   color:#0A2647;
}
h1{
    font-size:4rem;
    font-family: 'Boogaloo', cursive;
    color:#00337c ;
   
}
h2{
    font-size: 2rem;
    font-family: 'Caveat', cursive;
   color:#00337C ;
   font-weight: normal;
   line-height: 2;
   padding-bottom: 10px;
}
h3{
    font-family: 'Caveat', cursive;
    color: #0081C9;
}
.middle-container {
   margin: 100px auto;
}
.bottom-container {
    background-color: #93BFCF;
    padding: 50px 0 25px;
}
.bottom-cloud{
    position :absolute;
    right: 300px;
    top:50px;
}
.top-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.sub{
    font-family: 'Shadows Into Light', cursive; 
   font-size: 2rem;
   color:#00337C;
}
.footer-link{
    color: #0081C9;
}
.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.Football{
    width: 25%;
    float: left;
    padding-right: 30px;

}
.Webd{
    width: 25%;
    float: right;
    
}
.CW{
    margin-top: 10;
    width: 25%;
    float: right;
}
hr{
    border-style: dotted none none;
    border-color: #BDCDD6;
    border-width: 6px;
    width:5%;
    margin: 100px auto;
}
.btn {
    margin-bottom: auto;
    background: #93BFCF;
    background-image: -webkit-linear-gradient(top, #93BFCF, #6096B4);
    background-image: -moz-linear-gradient(top, #93BFCF, #6096B4);
    background-image: -ms-linear-gradient(top, #93BFCF, #6096B4);
    background-image: -o-linear-gradient(top, #93BFCF, #6096B4);
    background-image: linear-gradient(to bottom, #93BFCF, #6096B4);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Boogaloo', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
a{
   color:#0A2647;
   font-family: 'Shadows Into Light', cursive; 
    margin : 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#0A2647 ;
}
.copyright{
    color:#0A2647;
    font-size: small;
    padding: 20px 0px;
}